body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}
@media(max-width: 665px){
    /* body{
        height: 100%;
    } */
}
.container {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
ul,li,a{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
input:focus, 
textarea:focus, 
select:focus, 
button:focus {
    outline: none; 
    box-shadow: none !important;
    border-color: #7a7a7a; 
}
h1,h4,.intro p{
    font-family: "Libre Franklin", system-ui;
}


/* buttons */
.btn{
    background-color: black;
    color: #f5f5f5;
    font-size: clamp(0.65rem, 1.1vw, 0.85rem);
    border-radius: 0;
}
.btn:hover{
    background-color: rgb(0, 0, 0, 0.3);
    color: black;
}
.inquire-btn,
.about-btn{
    margin-right: 3em;
}
.homepage .btn {
    width: 100%;
    max-width: 350px;
    margin-bottom: 2em;
    padding: 1em;
}
.featured-solutions .btn{
    display: block;
    margin: 0 auto 3em;
    width: 100%;
    max-width: 350px;
    padding: 0.8em 0;
}
@media(max-width: 665px){
    .homepage .btn,
    .featured-solutions .btn{
        max-width: 200px;
        margin-bottom: 4em;
    }
    .featured-solutions .btn{
        margin-top: 2.5em;
    }
}

/* Navbar */
.logo img {
    max-width: 100%;
    width: 20%;
    height: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 3%;
    background-color: #f5f5f5;
    color: black;
    cursor: pointer;
}
.nav-cta-container{
    display: flex;
    align-items: center;
    transition: all 0.3s eases;
}
ul{
    display: flex;
    font-size: clamp(0.65rem, 1.1vw, 0.85rem);
    margin-right: 2em;
}
li{
    margin: 0 2em;
}
li:hover{
    text-decoration: underline;
}
hr {
    border: 1px solid #ccc;
    margin: 0;
}
.hamburger-container{
    display: block;
}
.close-container{
    display: none;
}
.fa-bars{
    font-size: 1.1rem;
    cursor: pointer;
}
@media (max-width: 900px) { 
    .navbar{
        padding: 0.5em 2em;
    }
    /* .logo img{
        width: 30%;
    } */
    .hamburger-container{
        display: block;
        cursor: pointer;
    }
    .close-container{
        display: none;
        padding-right: 2em;
    }
    .fa-xmark{
        font-size: 1.5rem;
        cursor: pointer;
    }
    .nav-cta-container{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        color: black;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2em 2em 6em;
        z-index: 1000;
    }
    .nav-cta-container.active{
        display: flex;
    }
    .nav-ul-closeicon{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    ul{
        flex-direction: column;
        gap: 2em;
        margin-bottom: 2em;
        height: 100%;
    }
    .schedule-btn{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
    }
}
@media (min-width: 900px) {
    .hamburger-container {
      display: none;
    }
}

/* Homepage */
.homepage {
    padding: 8.5% 7% 6.5%;
}
.homepage h1 {
    font-size: clamp(1.5rem, 3.1vw, 2.2rem);
    padding: 0 25%;
    line-height: 1.5;
}
.homepage h2 {
    margin: 2em 0 3em;
    font-size: clamp(0.65rem, 1.9vw, 1.2rem);
    font-size: 0.95rem;
}
.homepage-btn-container button{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
@media(max-width: 665px){
    .homepage{
        margin-top: 3em;
    }
    .homepage h1{
        padding: 0 5%;
    }
}
  
/* Intro*/
  .welcome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: white;
    text-align: center;
    z-index: 1;
  }

/* Video background styling */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    outline: none;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    backdrop-filter: blur(10px);
}
.intro p {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
    z-index: 2;
    padding: 2em;
    border-radius: 5px;
    color: white;
    text-align: center;
}
@media(max-width: 665px){
    .welcome{
        margin-bottom: 3em;
    }
}


/* Featured Solutions */
.featured-solutions {
    padding: 8% 10% 5%;
    background-color: #f5f5f5;
}
.featured-solutions header{
    border-bottom: 1px solid black;
    margin-bottom: 6em;
}
.featured-solutions h3{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: bold;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.featured-solutions-article{
    margin-bottom: 3em;
}
.featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.featured-solutions h4{
    margin-bottom: 0.3em;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    white-space: nowrap;
}
.featured-solutions p {
    margin-bottom: 2rem;
    font-size: clamp(0.8rem, 0.75vw, 0.8rem);
}
.featured img{
    width: 100%;
    max-width: 280px;
    height: auto;
    max-height: 280px;
    min-height: 280px;
    border-radius: 15px;
    margin: 2rem 0;
    cursor: pointer;
}
.featured img:hover{
    opacity: 0.8;
}
@media(max-width: 665px){
    .featured-solutions{
        background-color: white;
    }
    .featured-solutions header{
        margin-bottom: 5em;
    }
    .featured-solutions-article{
        display: flex;
        flex-direction: column;
    }
    .featured-solutions p{
        margin-bottom: 2rem;
        padding: 0 2.5em;
    }
}

/* services */
.services{
    padding: 6% 10% 7%;
    margin-top: 2em;
}
.services-header{
    border-bottom: 1px solid black;
    margin-bottom: 3em;
}
.services-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2em;
}
.services article{
    border: 1px solid gray;
    margin: 1em 0;
    padding: 0;
}
.services h3{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: bold;
}
.services-article-img-container{
    padding: 3% 0;
}
.services h4{
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    border-bottom: 1px solid black;
    padding: 0.5em;
    background-color: #f5f5f5;
    margin-bottom: 0;
}
.services img{
    width: 100%;
    /* max-width: 340px; */
    height: auto;
    object-fit: cover;
}
.services p{
    font-size: clamp(0.75rem, 0.7vw, 0.75rem);
    padding: 1.5em 2em;
    border-top: 1px solid black;
    margin: 0;
}
@media(max-width: 665px){
    .services-header{
        margin-top: 1em;
    } 
    .services-article{
        flex-direction: column;
    }
}

/* contact-us */
.contact{
    padding: 5%;
    background-color: #f5f5f5;
}
.contact-us{
    padding: 5% 0;
}
.contact-us .contact-header-text{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 2em;
}
.contact-us .contact-body-text{
    font-size: 0.85rem;
    padding: 0 5%;
}

/* contact-form */
.contact-form{
    width: 100%;
    max-width: 450px;
    background-color: white;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
    font-size: 0.8rem;
}
.form-control{
    font-size: 0.8rem;
}
@media(max-width: 665px){
    .contact{
        display: flex;
        flex-direction: column;
    }
}


/*  address etc */
.d-flex{
    height: auto;
    max-height: 200px;
}
.vr{
    margin-right: 5em;
}
.vertical-address h4{
    font-size: 0.8rem;
}
.vertical-address{
    display: flex;
    justify-content: flex-end;
    padding: 5%;
    font-size: 0.8rem;
    margin: 2em 0 3em;
}
.address,
.phone{
    display: flex;
    align-items: baseline;
    gap: 2%;
}
.email{
    cursor: pointer;
}
.copyright{
    margin-bottom: 0;
    font-size: 0.55rem;
    text-align: center;
}
@media(max-width: 665px){
    .vertical-address .row .col:first-child,
    .vr{
        display: none;
    }
    .address-phone-email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .address,
    .phone{
        justify-content: center;
        padding: 0 3em;
    }
    .copyright{
        font-size: 0.5rem;
    }
}


/* About*/
.about-container{
    margin-bottom: 5em;
}
.about-container h4{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: bold;
    margin-bottom: 1.5em;
}
.about-container p{
    font-size: clamp(0.85rem, 1.25vw, 0.95rem);
}
.about-us-container{
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 8em 6em;
    background-color: black;
    color: white;
}
.story-container,
.mission-container,
.leader-container{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 6em 6em 1em;
}
.about-us-container .text,
.about-us-container .image,
.story-container .image,
.story-container .text,
.mission-container .text,
.mission-container .image,
.leader-container .text,
.leader-container .image{
    flex: 1;
}
.about-us-container .text header{
   margin-bottom: 1em;
}
.about-us-container .image,
.mission-container .image{
    text-align: right;
}
.about-us-container .image img,
.story-container .image img,
.mission-container .image img,
.leader-container .image img{
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}
@media(max-width: 665px){
    .about-us-container{
        flex-direction: column;
        padding: 4em 2em 2em;
    }
    .story-container,
    .mission-container,
    .leader-container{
        flex-direction: column;
        padding: 0.5em 2em;
    }
    .mission-container{
        flex-direction: column-reverse;
        padding: 0.5em 2em;
    }
    .about-container h1{
        font-size: clamp(1.5rem, 2.6vw, 2rem);
        margin-bottom: 2em;
    }
    .about-container h4{
        margin-bottom: 1.5em;
    }
    .about-container p{
        line-height: 1.5;
    }
    .about-container .image{
       margin: 3em 0 1em;
    }
}
@media(max-width:1091px) {
    .about-us-container,
    .story-container,
    .mission-container,
    .leader-container{
        padding: 2em;
    }

    .story-container{
        padding-top: 5em;
    }
}

/* solutions */
.solutions{
    padding: 7% 10% 0;
}
.solutions-header{
    border-bottom: 1px solid black;
    margin-bottom: 8em;
}
.solutions h1{
    font-size: clamp(1.5rem, 2.6vw, 2rem);
    font-weight: bold;
}
.solutions-article{
    margin-bottom: 7em;
}
.solutions-art{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1.5em;
}
.solutions-art div{
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2em;
}
.solutions img{
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 5px;
}
.solutions h4{
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    margin-bottom: 1em;
}
.solutions-art p{
    font-size: clamp(0.8rem, 0.75vw, 0.8rem);;
}
@media(max-width: 1120px){
    .solutions-header{
        margin: 3em 0 4em;
    }
    .solutions-art{
        flex-direction: column;
        gap: 0;
        max-width: 600px;
        margin: 0 auto;
    }
    .solutions-art div{
        margin-bottom: 4em;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .home-solutions,
    .innovative-solutions{
        flex-direction: column-reverse;
    }
    .solutions img{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .solutions-article{
        margin-bottom: 2em;
    }
}
